<p id="notice"><%= notice %></p>

<h1>Playlist Playables</h1>

<table>
  <thead>
    <tr>
      <th>Playlist</th>
      <th>Playable</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist_playables.each do |playlist_playable| %>
      <tr>
        <td><%= playlist_playable.playlist_id %></td>
        <td><%= playlist_playable.playable_id %></td>
        <td><%= playlist_playable.order %></td>
        <td><%= link_to 'Show', playlist_playable %></td>
        <td><%= link_to 'Edit', edit_playlist_playable_path(playlist_playable) %></td>
        <td><%= link_to 'Destroy', playlist_playable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist Playable', new_playlist_playable_path %>
