<%= form_with(model: [:admin, segment], local: true) do |form| %>
  <% if segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(segment.errors.count, "error") %> prohibited this segment from being saved:</h2>

      <ul>
        <% segment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
<%#
  <div class="field">
    <%= form.label :episode 
    <%= form.hidden_field :episode_id 

    <% episode_name = segment.episode.present? ? segment.episode.title : "Search Episodes..." 
    <%= text_field_tag 'episode_name', nil, placeholder: episode_name  
    <div class="selection"></div>
    <div id="autoComplete_list"></div>
  </div>
%>

  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
