<%= form_with(model: [:admin, episode], local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :show %>
    <%= form.hidden_field :show_id %>

    <% show_name = episode.show.present? ? episode.show.title : "Search Shows..." %>
    <%= text_field_tag 'show_name',nil, placeholder: show_name  %>
    <div class="selection"></div>
    <div id="autoComplete_list"></div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
