<p id="notice"><%= notice %></p>

<h1>Episode</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.title %></td>
        <td><%= link_to 'Show', [:admin, episode] %></td>
        <td><%= link_to 'Edit', edit_admin_episode_path(episode) %></td>
        <td><%= link_to 'Destroy', [:admin, episode], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_admin_episode_path %>
