<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @episode.title %>
</p>

<p>
  <strong>Show:</strong>
  <%= @episode.show.title %>
</p>

<%= link_to 'Edit', edit_admin_episode_path(@episode) %> |
<%= link_to 'Back', admin_episodes_path %>
