<!DOCTYPE html>
<html>
  <head>
    <title>DigitalSignage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'kiosk', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'kiosk', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= yield %>
        <%= hidden_field_tag "kiosk-id", @kiosk.id %>

    <div class="player-container">
      <%= video_tag @videos.first[:file], { id: 'main-player', controls: "true", preload: "auto", data: { current_position: 0,  playlist: @videos } } %>
    </div>
  </body>
</html>